= form_for group, id: 'new_chat_group', class: 'new_chat_group' do |f|
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :name, :グループ名, class: 'chat-group-form__label', for: 'group[name]'
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat-group-form__input', placeholder: 'グループ名を入力してください'

  .chat-group-form__field#display_list
    .chat-group-form__field--left
      %label.chat-group-form__label チャットメンバーを追加
    .chat-group-form__field--right#member
      .chat-group-form__search
        %input.chat-group-form__input#user-search-field{ placeholder: '追加したいユーザー名を入力してください' }

  .chat-group-form__field#user_list
    .chat-group-form__field--left
      %label.chat-group-form__label チャットメンバー
    - if action_name == 'new'
      .chat-group-form__field--right
        .chat-group-user
          %p.chat-group-user__name
            = current_user.name
            = hidden_field_tag 'group[user_ids][]', current_user.id
    - group.users.each do |user|
      .chat-group-form__field--right
        .chat-group-user
          %p.chat-group-user__name
            = user.name
            = hidden_field_tag 'group[user_ids][]', user.id
          %p.chat-group-button.delete 削除

  .chat-group-form__field
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit 'Save', class: 'chat-group-form__action-btn', data: { disable_with: '保存中...' }
